@use "vars";
@use "button";

.entry {
  margin: 0 calc(-1 * var(--content-padding, 50px));
  padding: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;

  &>div {
    position: relative;
    z-index: 2;
    background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(255, 255, 255, 1) 50%,
                    rgba(255, 255, 255, 0) 80%
    );
    @media (prefers-color-scheme: dark) {
      background: linear-gradient(
                      90deg,
                      rgba(3, 6, 9, 1) 0%,
                      rgba(3, 6, 9, 1) 50%,
                      rgba(3, 6, 9, 0) 90%
      );
    }
    padding: 20px calc(40% + var(--content-padding, 50px)) 20px var(--content-padding, 50px);
  }

  img {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    width: 50%;
    z-index: -1;
  }
  h1 {
    color: vars.$pk-text;
    @media (prefers-color-scheme: dark) {
      color: vars.$pkdark-text;
    }
    display: flex;
    flex-direction: column;

    .intro {
      font-weight: 500;
      font-size: 20px;
      align-content: center;
    }

    .main {
      font-weight: 500;
      font-size: 40px;
      height: 45px;
      align-content: center;
    }

    .outro {
      font-weight: 300;
      font-size: 20px;
      color: vars.$pk-blue;
      align-content: center;
      margin-top: 20px;
    }
  }

  .btn {
    margin-top: 40px;
  }

}

@media (max-width: 900px) {
  .entry {
    margin: 0;
    padding: 0;

    &>div {
      padding-right: 20px;
      margin-top: 300px;
      background: rgba(255, 255, 255, 0.9);
      @media (prefers-color-scheme: dark) {
        background: rgba(0, 0, 0, 0.9);
      }

      h1 {
        margin-top: 0;
      }
    }
  }

  .entry img {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
  }

  .entry h1 .main {
    height: auto;
    font-size: 32px;
  }
}