RewriteEngine On

# Wenn Datei oder Ordner existiert: direkt ausliefern
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Alles andere auf index.php
RewriteRule ^ index.php [L]